extends base.pug
//- extends는 베이스가 되는 파일을 그대로 가져다 쓰는 걸 말함
extends base
include mixins/video  
//- 반드시 include 하자.
block content 
    h2 Welcome here you will see the trending videos
    //- each video in videos  여기서 videos는 렌더링된 변수 array나 objects. 이는 videoController에서 정의된 array와 이름이 같아야 한다.단 each 뒤의 video는 각 array의 item을 가리키는데 이름이 꼭 video일 필요는 없다.     
    //- mixins를 including해 사용할땐 +(mixin에서 정의한 function의 이름)(적용할 데이터 객체)
    each video in videos
        +video(video)
    else
        li Sorry nothing found.         